:root {
    --primary-color: #FE6767;
    --second-color: #545454;
    --terceira-color: #B6B6B6;
    --quarta-color: #FFFFFF;

}


body {
    background-image: url(./img/DESKTOP.png);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Poppins;

}

header {

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 70px;
    padding-left: 140px;

}

header h1 {
    color: var(--primary-color);
    font-family: Poppins;
    font-style: italic;
    padding-right: 1060px;
 }

 nav a {
    text-decoration: none;
    font-family: poppins;
    font-size: 15px;
    color: white;
    font-size: 30px;
    margin-left: 80px;
    margin-left: 100px;

 }

 nav .destaque2 {
    color: #545454;
}

main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90vh;
    padding: 0 120px;
    position: relative;
}

.text-hero h1 {
    color: var(--second-color);
    font-family: Poppins;
    font-style: italic;
    font-size: 60px;
    padding-right: 0px;
    
}

.text-hero h1 .destaque {
    color: #FE6767;
}

.text-hero h2 {
    font-family: Poppins;
    font-size: 15px;
    color: #B6B6B6;
    font-weight: 400;
    padding-top: 20px

}

.buttons {
    padding-top: 20px;

}

.buttons .bnt-um {
    display: inline-block;
    background-color: #FE6767;
    color: #FFFFFF;
    font-family: Poppins;
    font-weight: 500;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 5px;
    padding-bottom: 5px;

}

.buttons .bnt-dois {
    display: inline-block;
    color: #FE6767;
    padding-left: 30px;
}

.hero-content {

}

.stats {
    display: flex;
    flex-direction: column; /* Empilha a linha superior e a linha inferior */
    gap: 30px; /* Espaço entre as duas linhas (ajuste se necessário) */
    width: 50%;
    position: relative;
    right: 100%;

}

.stats-esquerdo {
    display: flex;
    gap: 30px;
    align-items: flex-end;
    padding-right: 80px;
}

.stats-direito {
    display: flex;
    gap: 30px;
    align-items: flex-start;
    padding: 80px;
}

.stats-esquerdo div, .stats-direito div {
    text-align: right; 
}
.stats-direito div {
    text-align: left;
}

.stats-esquerdo p {
    color: var(--second-color); 
    font-style: italic;
    margin-bottom: 5px;
}
.stats-esquerdo h1 {
    color: var(--primary-color); 
    font-size: 40px;
    font-weight: 700;
}

.stats-direito p {
    color: var(--second-color); 
    font-style: italic;
    margin-bottom: 5px;
}
.stats-direito h1 {
    color: var(--quarta-color); 
    font-size: 40px;
    font-weight: 700;
}

.img {
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 50%;
}

.bike-main {
    height: 70%;
    width: 200%;
    z-index: 2;
    position: relative;
    margin-right: -490px;
    bottom: 10%;


}

.bike-dois {
    position: absolute;
    right: -900px;
    bottom: 600px;
    height: 40%;
    width: 60%;
  transform: translateY(-50%);
    transform: scaleX(-1);
    top: 20px;
}



