:root {
    --primary-color: #FE6767;
    --second-color: #545454;
    --terceira-color: #B6B6B6;
    --quarta-color: #FFFFFF;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(./img/DESKTOP.png);
    background-repeat: no-repeat;
    background-size: cover;

}

header {

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 120px;

}

header h1 {
    color: var(--primary-color);
    font-family: Poppins;
    font-style: italic;
    padding-right: 1000px;
 }

 nav a {
    text-decoration: none;
    font-family: poppins;
    font-size: 15px;
    color: var(--terceira-color);
    font-size: 30px;
    margin-left: 80px;
    margin-left: 100px;

 }

main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90vh;
    padding: 0 120px;
    position: relative;
}

.text-hero h1 {
    text-decoration: none;
    color: var(--second-color);
}



